<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LearningPlanner_1._0._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LearningPlanner_1._0._0.Properties.Settings.Polaczenie_z_baza"
      connectionString="Data Source=NT-27.WWSI.EDU.PL,1601;Initial Catalog=KASETY_406_01;Persist Security Info=True;User ID=Z406_01;Password=Z406_01"
      providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=NT-27.WWSI.EDU.PL,1601;initial catalog=KASETY_406_01;persist security info=True;user id=Z406_01;password=Z406_01;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="EntitiesModel2" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NT-27.WWSI.EDU.PL,1601;initial catalog=KASETY_406_01;persist security info=True;user id=Z406_01;password=Z406_01;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <LearningPlanner_1._0._0.Properties.Settings>
      <setting name="RValue" serializeAs="String">
        <value>138</value>
      </setting>
      <setting name="GValue" serializeAs="String">
        <value>197</value>
      </setting>
      <setting name="BValue" serializeAs="String">
        <value>222</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Music" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalmMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClassicMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RelaxMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberFont" serializeAs="String">
        <value />
      </setting>
      <setting name="ArialBlackFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalibriFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CourierFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimesNewRomanFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerdanaFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultFont" serializeAs="String">
        <value>False</value>
      </setting>
    </LearningPlanner_1._0._0.Properties.Settings>
  </userSettings>
</configuration>