<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LearningPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>rII2NLLkeqTW/uheX2LiDblQq4MEUgGkTk9ySew8oyy1f0y2kjzYyQX3y2WZQVOKEkQcpJ8l3Ke7XUgE6m7P/GKy9BfpKffGV6f+QnV1XRh9tiUjSV5K+Injg4y3QjBQseOmnv50UIDfCtLUG9Ho+plT+R2gUK24+YluSxudOw4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>RduEm01KDVEAJUbJSWM8ZGcml9EdIOHYPUUMPCMRIQxRbSZx98MJMc5/dMjKNWroAFVJKMlqGJMq0YVdLI+ndcgkevQ6lWG4zlPA6ykQtBytMmdbMPeLQ1HOLrsag1vwtX9yUJc13u2fooI+FcEJs9+p4PctQyWH9ECp9dFnZt00TG9S3boU6d7GW2V6LSBE3lXjwjIYMNLYc8AA5DU5QjCFhQDlV45RAFR/gCY+tHSoJLeOL+yEYg32t3GooKg1E4yyGWCkhynX2l6F4bLxyM3iRZlofZOIyFqAwNfG4abD1UQn56hkXJoRxtE/qIv25slBHlzS/03uR9npow6OIzO0z9xPWahoUAOXZB2Zq0upQX6b0TTZfodbIjyp9m3p49I1WuMyDLdImiE3wrbixmtsVIkIc6T23BvSWcvIrbb6/aL2Ww5CY9MvHi3EslKNtiGciD8Zs1Eb4JQOfccMTl1RXXsRlMj7em3OI18a0UWl03tCxwQleQtSrCtPe9IMu8eSM3r3cFf1+cgUvrYWgJX1rb4cJosi8+hT1ghc49tSzty4APJq9+apVRTp3tnQjfbfn6wZgqr+b31qHucnbjYqsGTWlUssD7xT1WGj01lufySfF0WW8dCPevsB5QaJo7I0mKzIcMWGXmCRgJFSU3wT0L7mqmJBToNAG9Eydbc=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <LearningPlanner.Properties.Settings>
      <setting name="RValue" serializeAs="String">
        <value>138</value>
      </setting>
      <setting name="GValue" serializeAs="String">
        <value>197</value>
      </setting>
      <setting name="BValue" serializeAs="String">
        <value>222</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Music" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalmMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClassicMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RelaxMusic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberFont" serializeAs="String">
        <value />
      </setting>
      <setting name="ArialBlackFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CalibriFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CourierFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimesNewRomanFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerdanaFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BoldFont" serializeAs="String">
        <value>False</value>
      </setting>
    </LearningPlanner.Properties.Settings>
  </userSettings>
</configuration>